<app-header></app-header>
<section class="py-5">
  <div class="container">
    <h1 class="fw-light">Entiende las interacciones intermoleculares.
    </h1>
    <p class="lead">Este proyecto está diseñado para hacer que el aprendizaje de la química
      mas didactico.Las simulaciones proporcionan una experiencia de aprendizaje única y facil de entender.</p>
  </div>
</section>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Puentes de hidrógeno</h2>
      <a href="/p_hydrogen" class="btn btn-outline-info lead">Ver más</a>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <img
        class="h-100"
        src="assets/hydrogen_bond.jpeg"
        alt="hydrogen_bond"
      >
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Fuerzas de Van der Waals</h2>
      <a href="/p_hydrogen" class="btn btn-outline-info lead">Ver más</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <img
        class="h-100"
        src="assets/Gecko_feet.jpg"
        alt="hydrogen_bond"
      >
    </div>
  </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Fuerzas de dispersión de London</h2>
      <a href="/p_hydrogen" class="btn btn-outline-info lead">Ver más</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <img
        class="h-100"
        src="assets/Captura%20de%20pantalla%202023-12-03%20120953.png"
        alt="hydrogen_bond"
      >
    </div>
  </div>
</div>
