<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Fuerzas intermoleculares</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#smltns">Simulaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/p_hydrogen">P. Hidrogeno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#//van_der_waals">Van der Waals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#//d_london">Dispersión de London</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

